<!DOCTYPE html>
<html>
<head><title>blogs</title></head>
<body>
<div>
postid: <%=postid%> <br>
username: <%=username%> <br>
created: <%=created%> <br>
modified: <%=modified%> <br>
title: <%-title%> <br>
body: <%-body%><br>


</div>
</body>
</html>